.prostheticsContainer {
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.prostheticsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.prostheticCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.prostheticCard:hover {
    transform: translateY(-5px);
}

.prostheticImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.prostheticInfo {
    text-align: left;
}

.productName {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.manufacturer,
.price,
.count,
.description {
    margin-bottom: 10px;
    color: #666;
}

.orderButton {
    padding: 10px 15px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.orderButton:hover {
    background-color: #334;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-bottom: 10px;
}

.form input {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}